repos:
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets-hook
        entry: bash -c 'if [ -f .secrets.baseline ]; then detect-secrets-hook --baseline .secrets.baseline "$@"; else detect-secrets-hook "$@"; fi' --
