name: PHPCS

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  phpcs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          tools: composer
          coverage: none
      - name: Set composer allow-plugins for phpcs installer
        run: composer config --no-interaction allow-plugins.dealerdirect/phpcodesniffer-composer-installer true
      - name: Install Dependencies
        run: composer install --no-interaction --prefer-dist
      - name: Run PHPCS
        run: vendor/bin/phpcs --standard=phpcs.xml --report=summary
